*.blend1
__pycache__/*
.vscode/*
./*.zip
*.pyc
.Rproj.user
/.quarto/
*egg*/*
build/*
.hypothesis/unicode_data/13.0.0/charmap.json.gz
coverage.xml
.coverage
*.npz
logs/
*.log
.luarc.json

/.luarc.json
dist
poetry.lock
blender*
*.lock
