# VIM files
*swp
*~


*.blend1
__pycache__/*
.vscode/*
molecularnodes*.zip
*.pyc
.Rproj.user
/.quarto/
*egg*/*
build/*
.hypothesis/unicode_data/13.0.0/charmap.json.gz
coverage.xml
.coverage
*.npz
logs/
*.log
.luarc.json
dist
poetry.lock
*.lock
*.DS_Store
.mda_session
*.vdb
docs/nodes/*.qmd
!docs/nodes/index.qmd
*.whl
*.MNSession

/.luarc.json
tests/data/starfile/montage.tiff
tests/data/cellpack/petworld/*.cif
