project:
  type: website
  output-dir: docs
website:
  title: "Molecular Nodes"
  navbar:
    background: primary
    left:
      - href: index.qmd
        text: Home
      - installation.qmd
      - getting-started.qmd
      - examples.qmd
      - documentation.qmd
      - nodes.qmd
    right:
      - icon: github
        href: https://github.com/BradyAJohnston/MolecularNodes
      - icon: twitter
        href: https://twitter.com/bradyajohnston
      

format:
  html:
    theme: sandstone
    css: styles.css
    toc: true
    toc-depth: 2



