biotite==0.40.0     # General parsing of structural files.
MDAnalysis==2.7.0   # Reading of molecular dynamics trajectories.
mrcfile==1.4.3      # Importing EM density files.
starfile==0.5.6     # Importing star files.
pillow==10.2.0      # Image processing.
msgpack==1.0.7      # Handling binary compressed structure files.
