project:
  type: website
  output-dir: _build
  # render: 
  #   - "*.qmd"
  # pre-render: build_node_docs.py

filters:
  - preview-colour

website:
  title: "Molecular Nodes"
  page-navigation: true
  navbar:
    left:
      - file: index.md
        text: About
      - file: installation.md
        text: Installation
      - file: tutorials/
        text: Tutorials
      - file: nodes/
        text: Node Documentation
      - file: example_listings.qmd
        text: Examples
    tools:
      - icon: github
        href: https://github.com/BradyAJohnston/MolecularNodes
      - icon: twitter
        href: https://twitter.com/bradyajohnston
      - icon: youtube
        href: https://youtube.com/c/bradyjohnston

  sidebar:
    - id: nodes
      title: Nodes
      style: floating
      align: left
      contents: nodes/
    
    - id: tutorials
      Title: Tutorials
      align: left
      style: floating
      contents: tutorials/



  page-footer:
    left: "This site is built with ❤️ and [Quarto](https://quarto.org/)."
    background: "#F8F9FA"

format:
  html:
    page-layout: full
    theme: 
      light: yeti
      dark: darkly
    css: styles.css
    toc: true
    toc-depth: 2
    preview-colour:
      code: true
      text: true
