project:
  type: website
  output-dir: _build

filters:
  - filters.lua
  - quarto

website:
  title: "Molecular Nodes"
  page-navigation: true
  navbar:
    left:
      - file: installation.qmd
        text: Installation
      - file: tutorials/
        text: Tutorials
      - file: documentation.qmd
      - file: examples/
        text: Examples
      - file: cite/
        text: Citations
    tools:
      - icon: github
        href: https://github.com/BradyAJohnston/MolecularNodes
      - icon: twitter
        href: https://twitter.com/bradyajohnston
      - icon: youtube
        href: https://youtube.com/c/bradyjohnston

  sidebar:
    - id: documentation
      title: Documentation
      style: floating
      align: left
      # pinned: true
      contents: 
        - text: Docs
          href: documentation.qmd
        - installation.qmd
        - attributes.qmd
        - text: Nodes
          href: nodes/index.qmd
          contents: nodes/*
  
    
    - id: tutorials
      Title: Tutorials
      align: left
      style: floating
      contents: tutorials/



  page-footer:
    left: "This site is built with ❤️ and [Quarto](https://quarto.org/)."
    # background: "#F8F9FA"

format:
  html:
    page-layout: full
    theme: 
      - darkly
      - style.scss
      
    toc: true
    toc-depth: 2
    preview-colour:
      code: true
      text: true
