/*-- scss:functions --*/
@function colorToRGB ($color) {
    @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color)+ ")";
  }


  /*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;
$body-font-color:       #d1d0d0 !default;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
}

body {
color: $body-font-color;
background-color: rgb(66, 66, 66);
}

navbar {
background-color: $body-font-color;
}

p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
color: lighten($body-font-color, 20%);
background-color: #15685e;
padding: .4em;
}