name: Build Extension

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [4.2, 4.3]
    env:
      ADDON_NAME: molecularnodes
    steps:
      - uses: actions/checkout@v3
      - uses: SebRollen/toml-action@v1.2.0
        id: read_manifest
        with:
          file: '${{ env.ADDON_NAME }}/blender_manifest.toml'
          field: 'version'
      - name: Test in Blender MacOS ARM
        run: |
          curl -L -o blender.dmg https://download.blender.org/release/Blender${{ matrix.version }}/blender-${{ matrix.version }}.0-macos-arm64.dmg
          hdiutil attach blender.dmg
          cp -R /Volumes/Blender/Blender.app /Applications/
          hdiutil detach /Volumes/Blender
          export blender=/Applications/Blender.app/Contents/MacOS/Blender
          blender --version
      - name: Build extension
        run: |
          /Applications/Blender.app/Contents/MacOS/Blender -b -P build.py
          mkdir artifact
          mv ${{ env.ADDON_NAME }}-${{ steps.read_manifest.outputs.value }}-*.zip ./artifact/.
      - name: Archive addon
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ADDON_NAME }}-${{ github.sha }}
          retention-days: 3
          path: |
            ./artifact/*