name: Test in Blender

on: 
    push:
      branches: ["main", "4.2", "extensions-platform"]
    pull_request:
      branches: ["main", "4.2", "extensions-platform"]
    
jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            max-parallel: 4
            fail-fast: false
            matrix:
              blender-version: ["4.2"]
              os: [ubuntu-latest]
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-python@v5
              with:
                python-version: 3.11.7
              
            - name: Cache Blender
              uses: actions/cache@v2
              with:
                path: ~/blender.tar.xz
                key: ${{ runner.os }}-blender-${{ hashFiles('**/test-addon.yml') }}

            - name: Test in Blender Linux
              if: matrix.os == 'ubuntu-latest'
              run: |
                if [[ ! -f ./blender.tar.xz ]]; then
                  wget -nv https://cdn.builder.blender.org/download/daily/blender-4.2.0-beta+v42.6f724b83c663-linux.x86_64-release.tar.xz -O ./blender.tar.xz
                fi
                mkdir -p ./blender
                ls -lrta
                tar -xf ./blender.tar.xz -C ./blender --strip-components=1
                ls -lrta
                blender/blender --version
                blender/blender -b --python tests/install.py
                blender/blender -b --python tests/run.py -- -v tests/ --cov=molecularnodes --cov-report=xml:coverage.xml --ignore=molecularnodes/ui/panel.py            
            - name: Expose coverage as a CI download 
              uses: actions/upload-artifact@v1
              if: matrix.os == 'ubuntu-latest'
              with:
                name: coverage.xml
                path: coverage.xml

            - name: Upload coverage reports to Codecov
              if: matrix.os == 'ubuntu-latest'
              uses: codecov/codecov-action@v3
    