name: Test in Blender

on: 
    push:
      branches: ["main"]
    pull_request:
      branches: ["main", "4.2", "4.3"]
    
jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            max-parallel: 4
            fail-fast: false
            matrix:
              version: ["4.2.5", "4.3.2", "daily"]
              os: [ubuntu-latest, macos-14, windows-latest]
        steps:
            - uses: actions/checkout@v4
            - uses: BradyAJohnston/setup-blender@v2.1
              with:
                version: ${{ matrix.version }}
            - name: Run tests in Blender
              run: |
                blender -b -P tests/python.py -- -m pip install uv
                blender -b -P tests/python.py -- -m uv pip install -r pyproject.toml --all-extras
                blender -b -P tests/python.py -- -m uv pip install -e .
                blender -b -P tests/python.py -- -m uv run --no-project --module pytest --cov tests --cov-report=xml
    
            - name: Expose coverage as a CI download 
              uses: actions/upload-artifact@v4
              if: matrix.os == 'ubuntu-latest' && matrix.version == '4.2.5'
              with:
                name: coverage.xml
                path: coverage.xml

            - name: Upload coverage reports to Codecov
              if: matrix.os == 'ubuntu-latest'
              uses: codecov/codecov-action@v3
    
